//FONTS
$manrope: 'Manrope', sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 800;

$xxx-large: 38px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 12px;
$x-small: 8px;

//COLOR
$white: #fff;
$black: #000;
$aqua: #92dce5;
$watermelon: #ef6461;
$cloud: #808080;